<HTML>
<!--<LINK HREF="../table.css" REL="stylesheet" TYPE="text/css">-->
<BODY>
<TABLE CELLSPACING="3" STYLE="margin-bottom: 1em">
    <TR>
      <TD>&nbsp;</TD>
      <TH COLSPAN="2" NAME="group-header">I</TH>
      <TH COLSPAN="2" NAME="group-header">II</TH>
      <TH COLSPAN="2" NAME="group-header">III</TH>
      <TH COLSPAN="2" NAME="group-header">IV</TH>
      <TH COLSPAN="2" NAME="group-header">V</TH>
      <TH COLSPAN="2" NAME="group-header">VI</TH>
      <TH COLSPAN="2" NAME="group-header">VII</TH>
      <TH COLSPAN="4" NAME="group-header">VIII</TH>
    </TR>
    <TR>
    	<TD>&nbsp;</TD>
    	<TH NAME="group-header">A</TH>
    	<TH NAME="group-header">B</TH>
    	<TH NAME="group-header">A</TH>
    	<TH NAME="group-header">B</TH>
    	<TH NAME="group-header">A</TH>
    	<TH NAME="group-header">B</TH>
    	<TH NAME="group-header">A</TH>
    	<TH NAME="group-header">B</TH>
    	<TH NAME="group-header">A</TH>
    	<TH NAME="group-header">B</TH>
    	<TH NAME="group-header">A</TH>
    	<TH NAME="group-header">B</TH>
    	<TH NAME="group-header">A</TH>
    	<TH NAME="group-header">B</TH>
    	<TH NAME="group-header">A</TH>
    	<TH COLSPAN="3" NAME="group-header">B</TH>
   	</TR>
  <TR>
    <TH NAME="period-header">1</TH> 
    <TD ID="cell1">&nbsp;</TD>
    <TD></TD>
    <TD COLSPAN="11" ALIGN="CENTER" VALIGN="top" ID="PropertyInfoArea"></TD>
    <TD></TD>
    <TD ID="cell2">&nbsp;</TD>
    <TD></TD>
    <TD></TD>
    <TD></TD>
  </TR>
  <TR>
    <TH NAME="period-header">2</TH> 
    <TD ID="cell3">&nbsp;</TD>
    <TD></TD>
    <TD ID="cell4">&nbsp;</TD>
    <TD></TD>
    <TD ID="cell5">&nbsp;</TD>
    <TD></TD>
    <TD ID="cell6">&nbsp;</TD>
    <TD></TD>
    <TD ID="cell7">&nbsp;</TD>
    <TD></TD>
    <TD ID="cell8">&nbsp;</TD>
    <TD></TD>
    <TD ID="cell9">&nbsp;</TD>
    <TD></TD>
    <TD ID="cell10">&nbsp;</TD>
    <TD></TD>
    <TD></TD>
    <TD></TD>
  </TR>
  <TR>
    <TH NAME="period-header">3</TH> 
    <TD ID="cell11">&nbsp;</TD>
    <TD></TD>
    <TD ID="cell12">&nbsp;</TD>
    <TD></TD>
    <TD ID="cell13">&nbsp;</TD>
    <TD></TD>
    <TD ID="cell14">&nbsp;</TD>
    <TD></TD>
    <TD ID="cell15">&nbsp;</TD>
    <TD></TD>
    <TD ID="cell16">&nbsp;</TD>
    <TD></TD>
    <TD ID="cell17">&nbsp;</TD>
    <TD>&nbsp;</TD>
    <TD ID="cell18">&nbsp;</TD>
    <TD>&nbsp;</TD>
    <TD>&nbsp;</TD>
    <TD>&nbsp;</TD>
  </TR>
  <TR>
    <TH ROWSPAN="2" NAME="period-header">4</TH> 
    <TD ID="cell19">&nbsp;</TD>
    <TD NAME="group-header">&nbsp;</TD>
    <TD ID="cell20">&nbsp;</TD>
    <TD NAME="group-header">&nbsp;</TD>
    <TD></TD>
    <TD ID="cell21">&nbsp;</TD>
    <TD></TD>
    <TD ID="cell22">&nbsp;</TD>
    <TD></TD>
    <TD ID="cell23">&nbsp;</TD>
    <TD></TD>
    <TD ID="cell24">&nbsp;</TD>
    <TD></TD>
    <TD ID="cell25">&nbsp;</TD>
    <TD>&nbsp;</TD>
    <TD ID="cell26">&nbsp;</TD>
    <TD ID="cell27">&nbsp;</TD>
    <TD ID="cell28">&nbsp;</TD>
  </TR>
  <TR>
  	<TD NAME="group-header">&nbsp;</TD>
  	<TD ID="cell29">&nbsp;</TD>
  	<TD></TD>
  	<TD ID="cell30">&nbsp;</TD>
  	<TD ID="cell31">&nbsp;</TD>
  	<TD></TD>
  	<TD ID="cell32">&nbsp;</TD>
  	<TD></TD>
  	<TD ID="cell33">&nbsp;</TD>
  	<TD></TD>
  	<TD ID="cell34">&nbsp;</TD>
  	<TD></TD>
  	<TD ID="cell35">&nbsp;</TD>
  	<TD></TD>
  	<TD ID="cell36">&nbsp;</TD>
  	<TD>&nbsp;</TD>
  	<TD>&nbsp;</TD>
  	<TD>&nbsp;</TD>
  </TR>
  
  <TR>
    <TH ROWSPAN="2" NAME="period-header">5</TH> 
    <TD ID="cell37">&nbsp;</TD>
    <TD></TD>
    <TD ID="cell38">&nbsp;</TD>
    <TD></TD>
    <TD>&nbsp;</TD>
    <TD ID="cell39">&nbsp;</TD>
    <TD>&nbsp;</TD>
    <TD ID="cell40">&nbsp;</TD>
    <TD>&nbsp;</TD>
    <TD ID="cell41">&nbsp;</TD>
    <TD>&nbsp;</TD>
    <TD ID="cell42">&nbsp;</TD>
    <TD>&nbsp;</TD>
    <TD ID="cell43">&nbsp;</TD>
    <TD>&nbsp;</TD>
    <TD ID="cell44">&nbsp;</TD>
    <TD ID="cell45">&nbsp;</TD>
    <TD ID="cell46">&nbsp;</TD>
  </TR>
  <TR>
  	<TD>&nbsp;</TD>
  	<TD ID="cell47">&nbsp;</TD>
  	<TD>&nbsp;</TD>
  	<TD ID="cell48">&nbsp;</TD>
  	<TD ID="cell49">&nbsp;</TD>
  	<TD>&nbsp;</TD>
  	<TD ID="cell50">&nbsp;</TD>
  	<TD>&nbsp;</TD>
  	<TD ID="cell51">&nbsp;</TD>
  	<TD>&nbsp;</TD>
  	<TD ID="cell52">&nbsp;</TD>
  	<TD>&nbsp;</TD>
  	<TD ID="cell53">&nbsp;</TD>
  	<TD>&nbsp;</TD>
  	<TD ID="cell54">&nbsp;</TD>
  	<TD>&nbsp;</TD>
  	<TD>&nbsp;</TD>
  	<TD>&nbsp;</TD>
  </TR>
  <TR>
    <TH ROWSPAN="2" NAME="period-header">6</TH> 
    <TD ID="cell55">&nbsp;</TD>
    <TD></TD>
    <TD ID="cell56">&nbsp;</TD>
    <TD></TD>
    <TD>&nbsp;</TD>
    <TD CLASS="separateblock">*</TD>
    <TD>&nbsp;</TD>
    <TD ID="cell72">&nbsp;</TD>
    <TD>&nbsp;</TD>
    <TD ID="cell73">&nbsp;</TD>
    <TD>&nbsp;</TD>
    <TD ID="cell74">&nbsp;</TD>
    <TD>&nbsp;</TD>
    <TD ID="cell75">&nbsp;</TD>
    <TD>&nbsp;</TD>
    <TD ID="cell76">&nbsp;</TD>
    <TD ID="cell77">&nbsp;</TD>
    <TD ID="cell78">&nbsp;</TD>
  </TR>
  <TR>
  	<TD>&nbsp;</TD>
  	<TD ID="cell79">&nbsp;</TD>
  	<TD>&nbsp;</TD>
  	<TD ID="cell80">&nbsp;</TD>
  	<TD ID="cell81">&nbsp;</TD>
  	<TD>&nbsp;</TD>
  	<TD ID="cell82">&nbsp;</TD>
  	<TD>&nbsp;</TD>
  	<TD ID="cell83">&nbsp;</TD>
  	<TD>&nbsp;</TD>
  	<TD ID="cell84">&nbsp;</TD>
  	<TD>&nbsp;</TD>
  	<TD ID="cell85">&nbsp;</TD>
  	<TD>&nbsp;</TD>
  	<TD ID="cell86">&nbsp;</TD>
  	<TD>&nbsp;</TD>
  	<TD>&nbsp;</TD>
  	<TD>&nbsp;</TD>
  </TR>
  <TR>
    <TH ROWSPAN="2" NAME="period-header">7</TH> 
    <TD ID="cell87">&nbsp;</TD>
    <TD NAME="group-header">&nbsp;</TD>
    <TD ID="cell88">&nbsp;</TD>
    <TD NAME="group-header">&nbsp;</TD>
    <TD>&nbsp;</TD>
    <TD CLASS="separateblock">**</TD>
    <TD>&nbsp;</TD>
    <TD ID="cell104">&nbsp;</TD>
    <TD>&nbsp;</TD>
    <TD ID="cell105">&nbsp;</TD>
    <TD>&nbsp;</TD>
    <TD ID="cell106">&nbsp;</TD>
    <TD>&nbsp;</TD>
    <TD ID="cell107">&nbsp;</TD>
    <TD>&nbsp;</TD>
    <TD ID="cell108">&nbsp;</TD>
    <TD ID="cell109">&nbsp;</TD>
    <TD ID="cell110">&nbsp;</TD>
  </TR>
  <TR>
  	<TD>&nbsp;</TD>
  	<TD ID="cell111">&nbsp;</TD>
  	<TD>&nbsp;</TD>
  	<TD>&nbsp;</TD>
  	<TD>&nbsp;</TD>
  	<TD>&nbsp;</TD>
  	<TD>&nbsp;</TD>
  	<TD>&nbsp;</TD>
  	<TD>&nbsp;</TD>
  	<TD>&nbsp;</TD>
  	<TD>&nbsp;</TD>
  	<TD>&nbsp;</TD>
  	<TD>&nbsp;</TD>
  	<TD>&nbsp;</TD>
  	<TD>&nbsp;</TD>
  	<TD>&nbsp;</TD>
  	<TD>&nbsp;</TD>
  	<TD>&nbsp;</TD>
  </TR>
</TABLE>
<TABLE CELLSPACING="3">
  <TR>
    <TD CLASS="separateblock">*</TD>
    <TD ID="cell57">&nbsp;</TD>
    <TD ID="cell58">&nbsp;</TD>
    <TD ID="cell59">&nbsp;</TD>
    <TD ID="cell60">&nbsp;</TD>
    <TD ID="cell61">&nbsp;</TD>
    <TD ID="cell62">&nbsp;</TD>
    <TD ID="cell63">&nbsp;</TD>
    <TD ID="cell64">&nbsp;</TD>
    <TD ID="cell65">&nbsp;</TD>
    <TD ID="cell66">&nbsp;</TD>
    <TD ID="cell67">&nbsp;</TD>
    <TD ID="cell68">&nbsp;</TD>
    <TD ID="cell69">&nbsp;</TD>
    <TD ID="cell70">&nbsp;</TD>
    <TD ID="cell71">&nbsp;</TD>
    <TH NOWRAP CLASS="filling">4f</TH>
  </TR>
  <TR>
    <TD CLASS="separateblock">**</TD>
    <TD ID="cell89">&nbsp;</TD>
    <TD ID="cell90">&nbsp;</TD>
    <TD ID="cell91">&nbsp;</TD>
    <TD ID="cell92">&nbsp;</TD>
    <TD ID="cell93">&nbsp;</TD>
    <TD ID="cell94">&nbsp;</TD>
    <TD ID="cell95">&nbsp;</TD>
    <TD ID="cell96">&nbsp;</TD>
    <TD ID="cell97">&nbsp;</TD>
    <TD ID="cell98">&nbsp;</TD>
    <TD ID="cell99">&nbsp;</TD>
    <TD ID="cell100">&nbsp;</TD>
    <TD ID="cell101">&nbsp;</TD>
    <TD ID="cell102">&nbsp;</TD>
    <TD ID="cell103">&nbsp;</TD>
    <TH NOWRAP CLASS="filling">5f</TH>
  </TR>
</TABLE>
</BODY></HTML>